/* Imports & supports */
@import url("https://rsms.me/inter/inter-ui.css");
/* Reset & Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
body {
  line-height: 1.5;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding-inline: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img,
picture {
  max-width: 100%;
  display: block;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* 2. Vamos a crear 3 animaciones distintas,1 para animar el background del banner, otra para animar el título y la tercera para animar el parrafo */


.banner{
  height: 60vh;
  background-color: #f0645d;
  background-image: url("https://res.cloudinary.com/pmichventura/image/upload/v1645148357/imagenes/03_fdyaqk.jpg");
  display: grid;
  place-content: center;
  text-align: center;
  padding: 40px;
  transition: all 500ms ease-in;
}
.banner:hover{
background-blend-mode: multiply;

}
.banner h1{
color: aliceblue;
font-size: 150px;
animation: titulo 2s infinite 200ms;
}

.banner p{
  color: aliceblue;
  animation: parrafo 2s infinite 200ms;
}
@keyframes parrafo  {
  0%{
  opacity: 0;
  color: rgb(0, 0, 0);
  transform: translateX(0px);
  }
  100%{
    opacity: 1;
    color: rgb(255, 255, 255);
  }
}
  @keyframes titulo  {
  0%{
    opacity: 0;
    transform: translateY(200px);
  }
  100%{
    opacity: 1;
      transform: translateY(0px);
  }
}
